parameters:
	ignoreErrors:
		-
			message: "#^Property Avansaber\\\\RedditApi\\\\Auth\\\\Auth\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/Auth/Auth.php

		-
			message: "#^Cannot access offset 'access_token' on mixed\\.$#"
			count: 1
			path: src/Auth/PdoSqliteTokenStorage.php

		-
			message: "#^Cannot access offset 'expires_at_epoch' on mixed\\.$#"
			count: 1
			path: src/Auth/PdoSqliteTokenStorage.php

		-
			message: "#^Cannot access offset 'owner_tenant_id' on mixed\\.$#"
			count: 1
			path: src/Auth/PdoSqliteTokenStorage.php

		-
			message: "#^Cannot access offset 'owner_user_id' on mixed\\.$#"
			count: 1
			path: src/Auth/PdoSqliteTokenStorage.php

		-
			message: "#^Cannot access offset 'provider_user_id' on mixed\\.$#"
			count: 1
			path: src/Auth/PdoSqliteTokenStorage.php

		-
			message: "#^Cannot access offset 'refresh_token' on mixed\\.$#"
			count: 1
			path: src/Auth/PdoSqliteTokenStorage.php

		-
			message: "#^Cannot access offset 'scopes' on mixed\\.$#"
			count: 1
			path: src/Auth/PdoSqliteTokenStorage.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Auth/PdoSqliteTokenStorage.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 5
			path: src/Auth/PdoSqliteTokenStorage.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Auth/TokenRefresher.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Auth/TokenRefresher.php

		-
			message: "#^Method Avansaber\\\\RedditApi\\\\Http\\\\RedditApiClient\\:\\:request\\(\\) has parameter \\$form with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/RedditApiClient.php

		-
			message: "#^Property Avansaber\\\\RedditApi\\\\Http\\\\RedditApiClient\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/Http/RedditApiClient.php

		-
			message: "#^Cannot access offset 'author' on mixed\\.$#"
			count: 1
			path: src/Resources/Links.php

		-
			message: "#^Cannot access offset 'body' on mixed\\.$#"
			count: 1
			path: src/Resources/Links.php

		-
			message: "#^Cannot access offset 'data' on mixed\\.$#"
			count: 2
			path: src/Resources/Links.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 1
			path: src/Resources/Links.php

		-
			message: "#^Cannot access offset 'json' on mixed\\.$#"
			count: 1
			path: src/Resources/Links.php

		-
			message: "#^Cannot access offset 'name' on mixed\\.$#"
			count: 1
			path: src/Resources/Links.php

		-
			message: "#^Cannot access offset 'permalink' on mixed\\.$#"
			count: 1
			path: src/Resources/Links.php

		-
			message: "#^Cannot access offset 'score' on mixed\\.$#"
			count: 1
			path: src/Resources/Links.php

		-
			message: "#^Cannot access offset 'things' on mixed\\.$#"
			count: 1
			path: src/Resources/Links.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: src/Resources/Links.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Resources/Links.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 5
			path: src/Resources/Links.php

		-
			message: "#^Cannot access offset 'created_utc' on mixed\\.$#"
			count: 1
			path: src/Resources/Me.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 1
			path: src/Resources/Me.php

		-
			message: "#^Cannot access offset 'is_employee' on mixed\\.$#"
			count: 1
			path: src/Resources/Me.php

		-
			message: "#^Cannot access offset 'is_mod' on mixed\\.$#"
			count: 1
			path: src/Resources/Me.php

		-
			message: "#^Cannot access offset 'name' on mixed\\.$#"
			count: 1
			path: src/Resources/Me.php

		-
			message: "#^Cannot cast mixed to float\\.$#"
			count: 1
			path: src/Resources/Me.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 2
			path: src/Resources/Me.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Resources/Search.php

		-
			message: "#^Cannot access offset 'after' on mixed\\.$#"
			count: 1
			path: src/Resources/Search.php

		-
			message: "#^Cannot access offset 'before' on mixed\\.$#"
			count: 1
			path: src/Resources/Search.php

		-
			message: "#^Cannot access offset 'children' on mixed\\.$#"
			count: 1
			path: src/Resources/Search.php

		-
			message: "#^Cannot access offset 'data' on mixed\\.$#"
			count: 4
			path: src/Resources/Search.php

		-
			message: "#^Cannot access offset 'kind' on mixed\\.$#"
			count: 1
			path: src/Resources/Search.php

		-
			message: "#^Method Avansaber\\\\RedditApi\\\\Resources\\\\Search\\:\\:get\\(\\) return type with generic class Avansaber\\\\RedditApi\\\\Data\\\\Listing does not specify its types\\: T$#"
			count: 1
			path: src/Resources/Search.php

		-
			message: "#^Cannot access offset 'data' on mixed\\.$#"
			count: 1
			path: src/Resources/Subreddit.php

		-
			message: "#^Cannot access offset 'display_name' on mixed\\.$#"
			count: 1
			path: src/Resources/Subreddit.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 1
			path: src/Resources/Subreddit.php

		-
			message: "#^Cannot access offset 'over18' on mixed\\.$#"
			count: 1
			path: src/Resources/Subreddit.php

		-
			message: "#^Cannot access offset 'public_description' on mixed\\.$#"
			count: 1
			path: src/Resources/Subreddit.php

		-
			message: "#^Cannot access offset 'subscribers' on mixed\\.$#"
			count: 1
			path: src/Resources/Subreddit.php

		-
			message: "#^Cannot access offset 'title' on mixed\\.$#"
			count: 1
			path: src/Resources/Subreddit.php

		-
			message: "#^Cannot access offset 'url' on mixed\\.$#"
			count: 1
			path: src/Resources/Subreddit.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: src/Resources/Subreddit.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 5
			path: src/Resources/Subreddit.php

		-
			message: "#^Cannot access offset 'created_utc' on mixed\\.$#"
			count: 1
			path: src/Resources/User.php

		-
			message: "#^Cannot access offset 'data' on mixed\\.$#"
			count: 1
			path: src/Resources/User.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 1
			path: src/Resources/User.php

		-
			message: "#^Cannot access offset 'is_employee' on mixed\\.$#"
			count: 1
			path: src/Resources/User.php

		-
			message: "#^Cannot access offset 'is_mod' on mixed\\.$#"
			count: 1
			path: src/Resources/User.php

		-
			message: "#^Cannot access offset 'name' on mixed\\.$#"
			count: 1
			path: src/Resources/User.php

		-
			message: "#^Cannot cast mixed to float\\.$#"
			count: 1
			path: src/Resources/User.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 2
			path: src/Resources/User.php
